<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.testdemo1.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.testdemo1.entity.User">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="age" property="age" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="add_user" property="addUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>
</mapper>